@-webkit-keyframes lineV {
    from {
        margin-top: 50px;
    }
    to {
        margin-top: 0px;
    }
}
@keyframes lineV {
    from {
        margin-top: 50px;
    }
    to {
        margin-top: 0px;
    }
}